*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 375px;
    padding: 16px;
}

img{
    height: 350px;
    width: auto;
    border-radius: 8px;
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    color: hsla(360, 0%, 45%);
    max-width: 250px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
